
  
  body {
    background-color: #e2e2e2;
    font-family: 'Pridi', serif;
  }

  .ui-body {
    margin-top: 7.5rem;
  }

  .ui-subnavbar {
    height: 3.5rem;
    background-color: white !important;
    color: black !important;
    border-bottom: 1px solid #dcdbdb;
  }

  .ui-submenu-mobile {
    display: none;
  }

  .ui-container {
    padding: 0 20rem;
  }

  .ui-contents {
    padding: 1.5rem;
    margin-top: 8.5rem;
    margin-bottom: 3rem;
    /* padding-top: 1.5rem; */
    background: white !important;
  }

  .nav-link {
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0 !important;
  }

  div .html-content a {
    color: #101317 !important;
  }

  .thnovice-logo {
    border: 3px solid white;
    width: 82px;
    margin-top: 20px;
    margin-left: 13.5rem;
    position: absolute;
    z-index: 10000;
  }

  .ui-app-name {
    position: relative;
    left: 0rem;
    top: 1rem;
    font-size: 20px;
    color: #fff !important;
    text-decoration: none;
  }

  .rounded {
    border-radius: 4.25rem !important
  }

  .markdown img {
    width: 100%;
  }

  .story {
    border: 1px solid #242520;
  }

  pre {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  pre code {
    padding: 2rem !important;
  }

  @media screen and (max-width: 1200px) {
    .navbar-nav{
      display: none;
    }
    .navbar-expand-lg .navbar-toggler {
      display: inline-block;
    }

    .collapse:not(.show) {
      display: none !important;
    }

    .btn-right {
      display: none;
    }

    .nav-link {
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-right: 1rem;
      padding: 0 !important;
    }

    .ui-submenu {
      display: none;
    }

    .ui-app-name {
      position: relative;
      left: 3rem;
      top: 1rem;
      font-size: 20px;
      color: #fff !important;
      text-decoration: none;
    }

    .ui-submenu-mobile {
      display: block;
    }

    .thnovice-logo {
      border: 3px solid white;
      width: 50px;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      position: absolute;
      z-index: 10000;
    }

    .navbar-toggler {
      margin-top: 0.5rem;
      margin-left: 0.5rem;
    }

    .navbar-collapse {
      display: block;
      border: 1px solid #d0cfcf;
      background: white;
      padding: 1rem;

    }

    .contents {
      padding: 1rem !important;

    }

    .story {
      display: none;
    }

    .ui-submenu.ui-container {
      width: 100%;
      padding: 0rem 1.5rem !important;
    }

    .ui-subnavbar .ui-container {
      padding: 0rem !important;
    }

    .ui-container {
      width: 100%;
      padding: 0rem 1.5rem !important;
    }
  }

  .ui-navbar {
    height: 4rem;
    /* padding: 0 10rem; */
    background-color: #101317 !important;
  }

  .ui-navbar a {
    color: white !important;
  }

  .ui-header {
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  .ui-header .ui-app-name {
    font-family: 'Black Ops One', cursive;
  }


  blockquote {
    border-left: 2px solid green;
  }

  blockquote p {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #cbf18e7d;
  }

  html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }

  .button--green {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #3b8070;
    color: #3b8070;
    text-decoration: none;
    padding: 10px 30px;
  }

  .button--green:hover {
    color: #fff;
    background-color: #3b8070;
  }

  .button--grey {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #35495e;
    color: #35495e;
    text-decoration: none;
    padding: 10px 30px;
    margin-left: 15px;
  }

  .button--grey:hover {
    color: #fff;
    background-color: #35495e;
  }